html,
body {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  overflow: hidden;
}

.game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgb(27, 27, 27);
}
