/* Coolors Exported Palette - coolors.co/e21500-a55ba6-6ae3db-51e5ff-440381 */

/* HSL */
$color1: hsla(6%, 100%, 44%, 1);
$color2: hsla(299%, 30%, 50%, 1);
$color3: hsla(176%, 68%, 65%, 1);
$color4: hsla(189%, 100%, 66%, 1);
$color5: hsla(271%, 95%, 26%, 1);

/* RGB */
$color1: rgba(226, 21, 0, 1);
$color2: rgba(165, 91, 166, 1);
$color3: rgba(106, 227, 219, 1);
$color4: rgba(9, 255, 0, 0.644);
$color5: rgba(68, 3, 129, 1);
